[class^="achiv-"] {
  background: url('/media/achivments.png') no-repeat;
  width: 122px;
  height: 122px;
}

.achiv-1 { background-position: 0 0; }
.achiv-2 { background-position: -149px 0; }
.achiv-3 { background-position: -297px 0; }
.achiv-4 { background-position: -445px 0; }
.achiv-5 { background-position: -591px 0; }
.achiv-6 { background-position: 0 -136px; }
.achiv-7 { background-position: -149px -136px; }
.achiv-8 { background-position: -297px -136px; }
.achiv-9 { background-position: -445px -136px; }
.achiv-10 { background-position: -591px -136px; }