@import 'foundation';
@import 'normalize';
@import 'foundation-datepicker';
@import 'font-awesome';
@import 'font';
@import "css3-mixins";
@import "achivments";
@import "social-btn";

html, body {
    height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto!important;
  height: 100%;
  margin: 0 auto -45px;
}
.left-off-canvas-menu {
  .off-canvas-list {
    background-color: $panel-bg;
    > .section-container {
      width: 178px;
      margin: 0 auto;
    }
  }
}

.move-right .exit-off-canvas {
  box-shadow: none;
}
.toggler {
  height: 45px;
  padding: 6px 5px 9px 15px;
}
.top-bar, .menu, .add-comment {
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.add-comment {
  width: 100%;
}

.achivments {
  [class^="achiv-"] {
    margin: 0 auto;
  }
  .process {
    opacity: 0.5;
  }
  .description {
    text-align: center;
    font-size: 1.2em;
    color: #0F92BD;
  }
}

$background: #0F92BD;
$file-upload-color: #0F92BD;
$file-upload-size: 300px;

input[type='file'] {
  visibility: hidden;
}
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    label {
        display: block;
    }
}

.file-upload-wrapper {
    position: relative;
}
.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    padding: 11px 17px;
    border: none;
    background-color: lighten ($file-upload-color, 70);
    @include transition(all 0.2s ease-in);
    float: left; /* IE 9 Fix */
    &:hover, &:focus {
        background-color: lighten($file-upload-color, 55);
        outline: none;
    }
}
.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: darken($file-upload-color, 10);
    float: left; /* IE 9 Fix */
    @include transition(all 0.2s ease-in);
    &:hover {
        background-color: darken($file-upload-color, 20);
    }
}

.main-img {
  margin-bottom: 5px;
  li {
    margin: 0;
  }
  img {
    width: 178px;
    height: auto;
  }
}
.small-imgs {
  margin: 0 0 10px 0;
  li {
    margin: 0;
    display: inline-block;
    width: 59px;
    height: auto;
    float: left;
  }
}

.commenting-field {
  > .img-container {
    padding-right: 0;
    > img {
      width: 100%;
      height: auto;
    }
  }
  .textarea-wrapper {
    textarea {
      height: 50px;
      resize: none;
    }
    .control-row {
      button {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
.comment-text {
  .commenting-field {
    margin-bottom: 5px;
  }
  .textarea-wrapper {
    textarea {
      height: 60px;
    }
  }
}
.post > .comment-text {
  hr {
    margin: 5px 0;
    &:last-of-type {
      display: none;
    }
  }
  > .row:last-of-type {
    margin-bottom: 10px;
  }
}

.fa-2x {
  vertical-align: -20%;
}

@media only screen and (max-width: 64em) {
  #dogIntro {
    display: none;
  }
  .top-bar {
    box-shadow: none;
    margin-bottom: 0;
  }
}
