@keyframes dogMove {
  from {left:0px;}
	to {left:450px;}
}

@-moz-keyframes dogMove {
	from {left:0px;}
	to {left:450px;}
}

@-webkit-keyframes dogMove {
	from {left:0px;}
	to {left:450px;}
}

@-o-keyframes dogMove {
	from {left:0px;}
	to {left:450px;}
}


@keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@-webkit-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@-o-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-moz-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-webkit-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}

@-o-keyframes dogWalk {
	0% { background-position:0px 0px; }
	3% { background-position:-120px 0px; }
	6% { background-position:-240px 0px; }
	9% { background-position:-360px 0px; }
	12% { background-position:0px 0px; }
	15% { background-position:-120px 0px; }
	18% { background-position:-240px 0px; }
	21% { background-position:-360px 0px; }
	24% { background-position:0px 0px; }
	27% { background-position:-120px 0px; }
	30% { background-position:-240px 0px; }
	33% { background-position:-360px 0px; }
	36% { background-position:0px 0px; }
	39% { background-position:-120px 0px; }
	42% { background-position:-240px 0px; }
	45% { background-position:-360px 0px; }
	48% { background-position:0px 0px; }
	51% { background-position:-120px 0px; }
	54% { background-position:-240px 0px; }
	57% { background-position:-360px 0px; }
	60% { background-position:0px 0px; }
	63% { background-position:-120px 0px; }
	66% { background-position:-240px 0px; }
	69% { background-position:-360px 0px;  } /* Walk */

	72% { background-position:-480px 0px; }  /* Snif  */
	75% { background-position:-360px 0px;  }
	78% { background-position:-480px 0px;  }
	81% { background-position:-360px 0px;  }

	90% { background-position:-0px -110px; } /* Find */
	93% {background-position:-120px -110px;} /* Jump */
	96% {background-position:-240px -110px;}
	100% { background-position: 1000px 1000px; }/*Hide*/
}


@keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}

@-moz-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}


@-webkit-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}


@-o-keyframes dogLaugh {
	0% { background-position:-360px -110px; }
	50% { background-position:-480px -110px; }
	100% { background-position:-360px -110px; }
}

@keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-moz-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-webkit-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}

@-o-keyframes dogShow {
	0% { top:560px; }
	25% { top: 480px; }
	75% { top: 480px; }
	100% { top:560px; }
}



#dogIntro {
	position:absolute;
	bottom: 50px;
	z-index:1;
	background: url('../../media/sprite.png') no-repeat;
	width: 120px;
	height: 100px;
	margin: 0 auto;
}



#dogLaugh {
	width:1280px;
	height:570px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}

#dogLaugh > div {
	position:absolute;
	top:560px;
	left:560px;
}

#dogLaugh > div > span {
	width: 150px;
	height: 100px;
}

#dogLaugh > div > span:nth-child(1) {
	display:block;
	background: url('../../media/sprite.png') no-repeat;

	animation: dogLaugh 200ms infinite steps(1) alternate;
	-moz-animation: dogLaugh 200ms infinite steps(1) alternate;
	-webkit-animation: dogLaugh 200ms infinite steps(1) alternate;
	-o-animation: dogLaugh 200ms infinite steps(1) alternate;
}

#dogLaugh > div > span:nth-child(2) {
	display:none;
	background: url('../../media/sprite.png') no-repeat;
	background-position:-600px -0px;
}

/*Intro dog*/
#dogIntro {
	animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
	-moz-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
	-webkit-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
	-o-animation: dogMove 2.8s linear forwards, dogWalk 4s step-start 1 forwards;
}

#dogLaugh > div:nth-child(1) {
	/*The lvlEnd - 4 seconds*/
	-moz-animation: dogShow 4s 10s;

	animation: dogShow 4s 10s;
	-moz-animation: dogShow 4s 10s;
	-webkit-animation: dogShow 4s 10s;
	-o-animation: dogShow 4s 10s;
}
