{% extends "_layout.html" %}

{% block title %}Достижения{% endblock %}

{% block content %}
    {% for achievement in achievements %}
        <div class="row achivments">
            <div class="large-3 columns">
                <div class="{{ achievement.status }}">
                    <img src="/media/achivments/{{ achievement.type }}.png">
                </div>
                <div class="description text-center">
                    {{ achievement.description }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
