{% extends "_layout.html" %}

{% block title %}Добавить питомца{% endblock %}

{% block content %}
        <h2>Добавить питомца</h2>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li><img src="{{ avatar }}"></li>
        </ul>
        <form id="dogForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "fields/formField.html" with label="Аватарка" input=dogForm.avatarFile %}
            {% include "fields/formField.html" with label="Прозвище питомца"  input=dogForm.nick %}
            {% include "fields/formField.html" with label="Дата рождения" input=dogForm.birthDate %}
            {% include "fields/formField.html" with label="Вес питомца" input=dogForm.weight %}
            {% include "fields/formBtn.html" with css="success small" name="Сохранить" type=" " %}
            <input type="hidden" name="id" value="{{ dog.id }}">
        </form>
{% endblock %}

{% block script-block %}
    <script>
        $('#dogForm').on("submit", function(event) {
            event.preventDefault();
            var data = new FormData($(this).get(0));
            data.append("birth_date", $({{ dogForm.birthDate.auto_id }})[0].value);
            $.ajax({
                url: "/api/dog/add/",
                type: "post",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function () {
                    location.reload();
                },
            });
            return false;
        });
        $({{ dogForm.birthDate.auto_id }}).fdatepicker({
            format: 'yyyy-mm-dd'
        });
    </script>
{% endblock %}

