<p><strong>{{ comment.dog.nick }}</strong></p>
{% if comment.type == 0 %}
    <p>{{ comment.text }}</p>
{% elif comment.type == 1 %}
    <p>Прогулочка</p>
    <p>
        Длина: {{ comment.walk.length }}м. Маршрут:
        <div class="map-wrapper">
            <div id="map{{ comment.id }}" style="width: 100%; height: 300px"></div>
        </div>
        {% comment %}{% for point in comment.walk.getPath %}
            ({{ point.0 }}, {{ point.1 }}),
        {% endfor %}{% endcomment %}
        <script type="text/javascript">
            ymaps.ready(init{{ comment.id }});
            var map;
            var walk;

            function init{{ comment.id }}() {
                var arr = [{% for point in comment.walk.getPath %}[{{ point.0 }}, {{ point.1 }}]{% if not forloop.last %},{% endif %}{% endfor %}];
                map = new ymaps.Map("map{{ comment.id }}", {
                    center: [{{ comment.walk.getPath.first.0 }}, {{ comment.walk.getPath.first.1 }}],
                    zoom: 15
                });
                walk = new ymaps.Polyline( arr
                , {}, {
                    balloonCloseButton: false,
                    strokeColor: "#0F7FA4",
                    strokeWidth: 4,
                    strokeOpacity: 0.7
                });

                map.geoObjects.add(walk);

                map.controls.remove('searchControl');
                map.controls.remove('trafficControl');
                map.controls.remove('geolocationControl');
            }
        </script>
    </p>
{% elif comment.type == 2 %}
    <p>{{ comment.text }}</p>
    <p>Фоточка</p>
{% elif comment.type == 3 %}
     {% if comment.relation.status == 1 %}
        <p>Новый друг - {{ comment.relation.relatedDog.nick }}</p>
    {% elif comment.relation.status == -1 %}
        <p>Новый враг - {{ comment.relation.relatedDog.nick }}</p>
    {% endif %}
    <div class="new-relation-img">
        <img src="{% if comment.relation.relatedDog.avatarFile %}{{ comment.relation.relatedDog.avatarFile.url }}{% else %}/static/img/none-img.png{% endif %}">
    </div>
{% elif comment.type == 4 %}
    <p>Ачивка</p>
    <div class="achivments text-center">
        <div class="done">
            <img src="/static/img/achievements/{{ comment.achievement.type }}.png">
        </div>
        <div class="description">
            <p>{{ comment.achievement.description }}</p>
        </div>
    </div>
{% endif %}
