{% extends "_layout.html" %}

{% block title %}Редактирование {{ dog.nick }}{% endblock %}

{% block content %}
    {% comment %}{% if not dog.id %}{% endcomment %}
    {% comment %}{% endif %}{% endcomment %}
        <h2>Настройки питомца</h2>
        <h3>{{ dog.nick }}</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li><img src="{{ avatar }}"></li>
        </ul>
        <form id="dogForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "fields/formFile.html" with label="Аватарка" input=dogForm.avatarFile for="avatarFile"%}
            {% include "fields/formField.html" with label="Кличка" input=dogForm.nick %}
            {% include "fields/formField.html" with label="Порода" input=dogForm.breed %}
            {% include "fields/formField.html" with label="Дата рождения" input=dogForm.birthDate %}
            {% include "fields/formField.html" with label="Вес питомца" input=dogForm.weight %}
            {% include "fields/formField.html" with label="Номер ошейника" input=dogForm.collar_id %}
            {% include "fields/formBtn.html" with css="success small" name="Сохранить" type=" " %}
            <input type="hidden" name="id" value="{{ dog.id }}">
        </form>
{% endblock %}

{% block script-block %}
    <script>
        $('#dogForm').on("submit", function(event) {
            event.preventDefault();
            var data = new FormData($(this).get(0));
            data.append("birth_date", $({{ dogForm.birthDate.auto_id }})[0].value);
            $.ajax({
                url: "/api/dog/edit/",
                type: "post",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function () {
                    location.reload();
                },
            });
            return false;
        });
        $({{ dogForm.birthDate.auto_id }}).fdatepicker({
            format: 'yyyy-mm-dd'
        });
    </script>
{% endblock %}

