{% extends "_layout.html" %}

{% block title %}Друзья и враги{% endblock %}

{% block content %}
    <dl class="sub-nav">
        <dd {% if filter == "all" %}class="active"{% endif %}><a href="?filter=all">Все знакомые собаки</a></dd>
        <dd {% if filter == "walk" %}class="active"{% endif %}><a href="?filter=walk">На прогулке</a></dd>
        <dd {% if filter == "friends" %}class="active"{% endif %}><a href="?filter=friends">Друзья</a></dd>
        <dd {% if filter == "enemies" %}class="active"{% endif %}><a href="?filter=enemies">Враги</a></dd>
        <dd {% if filter == "new" %}class="active"{% endif %}><a href="?filter=new">Добавили вас</a></dd>
    </dl>
    {% for relation in relations %}
        <div class="row">
            <div class="large-2 columns small-3">
                <img
                {% if filter == "new" and relation.dog.avatarFile %}
                    src="{{ relation.dog.avatarFile.url }}"
                {% elif filter != "new" and relation.relatedDog.avatarFile %}
                    src="{{ relation.relatedDog.avatarFile.url }}"
                {% else %}
                    src="/media/none-img.png"
                {% endif %}
                    width="80px" height="80px"/>
            </div>
            <div class="large-10 columns">
                <div class="columns">
                    {% if filter == "new" %}
                        <a href="/dog/{{ relation.dog.id }}"><strong>{{ relation.dog.nick }}</strong></a>
                    {% else %}
                        <a href="/dog/{{ relation.relatedDog.id }}"><strong>{{ relation.relatedDog.nick }}</strong></a>
                    {% endif %}
                </div>
                <div class="columns">
                    {% if filter == "new" and relation.dog.onWalk or relation.relatedDog.onWalk %}
                        На прогулке
                    {% else %}
                        Дома
                    {% endif %}
                </div>
                <ul class="button-group">
                    {% if filter == "new" %}
                        <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.dog.id }}, 1)">В друзья</a>
                        <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.dog.id }}, -1)">Во враги</a>
                        <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.dog.id }}, 0)">Скрыть</a>
                    {% else %}
                        {% if relation.status == 1 %}
                            <li>
                                <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.relatedDog.id }}, -1)">Во враги</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.relatedDog.id }}, 1)">В друзья</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="#" class="button" onclick="setRelation({{ dog.id }}, {{ relation.relatedDog.id }}, 0)">Перестать отслеживать</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}

{% block script-block %}
    <script>
        function setRelation(dogId, relatedDogId, status) {
            $.ajax({
                url: "/api/dog/set_relation/",
                type: "get",
                data: {
                    "id": dogId,
                    "related_id": relatedDogId,
                    "status": status
                },
                success: function () {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}

