{% extends "_layout.html" %}

{% block title %}Карты{% endblock %}

{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <dl class="sub-nav">
        <dd {% if filter == "all" %}class="active"{% endif %}><a href="?filter=all">Всё</a></dd>
        <dd {% if filter == "home" %}class="active"{% endif %}><a href="?filter=all">Дом</a></dd>
        <dd {% if filter == "walk" %}class="active"{% endif %}><a href="?filter=walk">Следить за прогулкой</a></dd>
        <dd {% if filter == "friends" %}class="active"{% endif %}><a href="?filter=friends">Нахождение друзей</a></dd>
        <dd {% if filter == "enemies" %}class="active"{% endif %}><a href="?filter=enemies">Нахождение врагов</a></dd>
    </dl>
    <div class="map-wrapper">
        <div id="map" style="width: 100%; height: 400px"></div>
    </div>
    <div class="hide">
        <form id="mapForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ dog.id }}">
            <input type="hidden" name="fields" value="lat,lon,walk,event_counter">
            <input type="hidden" name="event_counter" value="{{ eventCounter }}">
        </form>
    </div>
{% endblock %}

{% block script-block %}
    <script type="text/javascript">
        ymaps.ready(init);
        var map;
        var home, myDog, enemy, walk, friendsCollection;

        function init() {
            map = new ymaps.Map("map", {
                center: [{{ home.lat }}, {{ home.lon }}],
                zoom: 17
            });

             home = new ymaps.Placemark([{{ home.lat }}, {{ home.lon }}],
                    {
                        hintContent: 'Дом!'
                    },
                    {
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/dog-house.png',
                        iconImageSize: [32, 32],
                        iconImageOffset: [-16, -16]
                    }
            );

            myDog = new ymaps.Placemark([{{ home.lat }}, {{ home.lon }}],
                    {
                        hintContent: '{{ dog.nick }}'
                    },
                    {
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/dog.gif',
                        iconImageSize: [42, 34],
                        iconImageOffset: [-21, -24]
                    }
            );

            {% comment %}friend = new ymaps.Placemark([57.62632958, 39.88450170],
                    {
                        hintContent: 'Друг'
                    },
                    {
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/friend.png',
                        iconImageSize: [36, 30],
                        iconImageOffset: [-18, -15]
                    }
            );{% endcomment %}
            friendsCollection = new ymaps.GeoObjectCollection();

            enemy = new ymaps.Placemark([57.62645045, 39.88343418],
                    {
                        hintContent: 'Враг'
                    },
                    {
                        iconLayout: 'default#image',
                        iconImageHref: '/static/img/enemy.gif',
                        iconImageSize: [32, 32],
                        iconImageOffset: [-16, -16]
                    }
            );

            walk = new ymaps.Polyline([
                [{{ home.lat }}, {{ home.lon }}]
            ], { }, {
                balloonCloseButton: false,
                strokeColor: "#0F7FA4",
                strokeWidth: 4,
                strokeOpacity: 0.7
            });

            {% if filter == "home" %} map.geoObjects.add(home); {% endif %}
            {% if filter == "walk" %} map.geoObjects.add(walk).add(myDog); {% endif %}
            {% if filter == "friends" %} map.geoObjects.add(friendsCollection); {% endif %}
            {% if filter == "enemies" %} map.geoObjects.add(enemy); {% endif %}
            {% if filter == "all" %} map.geoObjects.add(walk).add(myDog).add(home).add(friendsCollection).add(enemy); {% endif %}

            map.controls.remove('searchControl');
            map.controls.remove('trafficControl');
            map.controls.remove('geolocationControl');

            getData();
        }
        var updateWalk = function(points) {
            if (points) {
                map.geoObjects.remove(walk);
                walk = new ymaps.Polyline(
                    points
                , {}, {
                    balloonCloseButton: false,
                    strokeColor: "#0F7FA4",
                    strokeWidth: 4,
                    strokeOpacity: 0.7
                });
            }
            map.geoObjects.add(walk);
        }
        var setCenter = function(lat, lon) {
            if (lat && lon) {
                var point = new Object([lat, lon]);
                map.setCenter(point);
            }
        }

        var updateMyDog = function(lat, lon) {
            if(lat && lon) {
                setCenter(lat, lon);
                map.geoObjects.remove(myDog);
                myDog = new ymaps.Placemark([lat, lon],
                        {
                            hintContent: '{{ dog.nick }}'
                        },
                        {
                            iconLayout: 'default#image',
                            iconImageHref: '/static/img/dog.gif',
                            iconImageSize: [42, 34],
                            iconImageOffset: [-21, -24]
                        }
                );
                map.geoObjects.add(myDog);
            }
        }

        var updateFriends = function(friends) {
            if(friends) {
                map.geoObjects.remove(friendsCollection);
                friends.forEach(function(f) {
                    friendsCollection.add(new ymaps.Placemark([f.lat, f.lon],
                        {
                            hintContent: 'friend.nick'
                        },
                        {
                            iconLayout: 'default#image',
                            iconImageHref: '/static/img/friend.png',
                            iconImageSize: [36, 30],
                            iconImageOffset: [-18, -15]
                        }
                    ))
                });
                map.geoObjects.add(friendsCollection);
            }
        }

        var getData = function(event_counter) {
            var data = new FormData($('#mapForm').get(0));
            if(event_counter)
                data.append("event_counter", event_counter);
            $.ajax({
                url: "/api/dog/get_events/",
                type: "POST",
                data: data,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
            }).done(function(data) {
                setTimeout(function(){getData(data.event_counter);}, 1000);
                {% if filter == "home" %}  {% endif %}
                {% if filter == "walk" %} updateWalk(data.walk); updateMyDog(data.lat, data.lon); {% endif %}
                {% if filter == "friends" %}  {% endif %}
                {% if filter == "enemies" %}  {% endif %}
                {% if filter == "all" %} updateWalk(data.walk); updateMyDog(data.lat, data.lon); {% endif %}
            });
        };

    </script>
{% endblock %}

