{% comment %}<a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>{% endcomment %}
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    {% if user.is_authenticated %}
        {% if dog.avatarFile %}
            <ul class="clearing-thumbs main-img" data-clearing>
              <li>
                  <a href="{{ dog.avatarFile.url }}" data-tooltip aria-haspopup="true" class="has-tip" title="{{ dog.nick }}" data-clearing-interchange="[{{ dog.avatarFile.url }}, (default)], [{{ dog.avatarFile.url }}, (large)]">
                      <img src="{{ dog.avatarFile.url }}">
                  </a>
              </li>
            </ul>
            {% else %}
            <ul class="clearing-thumbs main-img" data-clearing>
              <li>
                  <a href=" " data-tooltip aria-haspopup="true" class="has-tip" title="{{ dog.nick }}">
                      <img src="/static/img/none-img.png">
                  </a>
              </li>
            </ul>
        {% endif %}

        {% if ownDogs > 1 %}
            <section class="section">
                <ul class="small-imgs clearfix">
                    {% for d in ownDogs %}
                        {% if d.id != dog.id %}
                            <li>
                                <a data-tooltip aria-haspopup="true" class="has-tip th" title="{{ d.nick }}" href="/dog/{{ d.id }}">
                                    <img src="{% if d.avatarFile %}{{ d.avatarFile.url }}{% else %}/static/img/none-img.png{% endif %}">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        <section class="section">
          <h5 class="title"><a id="addDog" href="/dog/add">Добавить собаку</a></h5>
        </section>
        {% if dog %}
            <section class="section">
                <h5 class="title"><a href="/dog/{{ dog.id }}">Моя собака</a></h5>
            </section>
            <section class="section">
                <h5 class="title"><a href="/dog/edit/{{ dog.id }}">Редактировать собаку</a></h5>
            </section>
            <section class="section">
              <h5 class="title"><a href="/news">Новости</a></h5>
            </section>
            <section class="section">
              <h5 class="title"><a href="/maps">Карта</a></h5>
            </section>
            <section class="section">
              <h5 class="title"><a href="/friends">Стая</a></h5>
            </section>
            <section class="section">
              <h5 class="title"><a href="/achievements">Достижения</a></h5>
            </section>
            <section class="section">
                <h5 class="title">
                    <a href="/logout/"><span class="text">Выйти</span></a>
                </h5>
            </section>
            {% else %}
            <section class="section">
                <h5 class="title">
                    <a href="/login/vk-oauth2">ВКонтакте</a>
                </h5>
            </section><section class="section">
                <h5 class="title">
                    <a href="/login/facebook-oauth2">Facebook</a>
                </h5>
            </section>
        {% endif %}
    {% endif %}
</div>
