{% comment %}<a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>{% endcomment %}
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    {% if user.is_authenticated %}
        {% if dog.avatarFile %}
            <ul class="clearing-thumbs main-img" data-clearing>
              <li>
                  <a href="{{ dog.avatarFile.url }}" data-tooltip aria-haspopup="true" class="has-tip" title="{{ dog.nick }}" data-clearing-interchange="[{{ dog.avatarFile.url }}, (default)], [{{ dog.avatarFile.url }}, (large)]">
                      <img src="{% if dog.avatarFile %}{{ dog.avatarFile.url }}{% else %}/media/none-img.png{% endif %}">
                  </a>
              </li>
            </ul>
        {% endif %}

        {% if ownDogs > 1 %}
            <section class="section">
                <ul class="small-imgs clearfix">
                    {% for d in ownDogs %}
                        {% if d.id != dog.id %}
                            <li>
                                <a data-tooltip aria-haspopup="true" class="has-tip th" title="{{ d.nick }}" href="/dog/{{ d.id }}">
                                    <img src="{% if d.avatarFile %}{{ d.avatarFile.url }}{% else %}/media/none-img.png{% endif %}">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        <section class="section">
          <h5 class="title"><a id="addDog" href="">Добавить собаку</a></h5>
        </section>
        {% if dog %}
            <section class="section">
                <h5 class="title"><a href="/dog/edit/{{ dog.id }}">Редактировать собаку</a></h5>
            </section>
            <section class="section">
                <h5 class="title"><a href="/friends">Друзья и враги</a></h5>
            </section>
            <section class="section">
              <h5 class="title"><a href="/news">Новости</a></h5>
            </section>
            {% for dog in ownDogs %}
                <section class="section">
                    <h5 class="title"><a href="/dog/{{ dog.id }}">{{ dog.nick }}</a></h5>
                </section>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

<script>
    $(document).ready(function(){
        $('#addDog').on("click", function(event) {
            event.preventDefault();
            var data ={ 'nick': "Собака", 'birth_date': 20150101, 'weight': 5 };
            $.ajax({
                url: '/api/dog/add/',
                method: 'GET',
                dataType: "json",
                data: data,
                success: function () {
                    location.reload();
                }
            });
            return false;
        });
    })
</script>