{% extends "_layout.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="panel add-comment clearfix">
        <form id="addNewsForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ dog.id }}">
            <div class="row commenting-field">
                <div class="large-2 columns small-3 img-container">
                    <img
                    {% if dog.avatarFile %}
                        src="{{ dog.avatarFile.url }}"
                    {% else %}
                        src="/media/none-img.png"
                    {% endif %}
                    />
                </div>
                <div class="large-10 columns textarea-wrapper">
                    <textarea id="addNew" name="text" placeholder="Что у вашего питомца нового..."></textarea>
                    <div class="control-row" style="display: none;">
                        <button class="button tiny success" type="submit">Отправить</button>
                        <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="tiny button dropdown">Прикрепить</button>
                        <ul id="drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
                          <li><a href="#">Загрузить фотаньку</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% for comment in comments %}
        {% if not comment.parentComment %}
            <div class="row post">
                <div class="large-2 columns small-3">
                    <img
                    {% if comment.dog.avatarFile %}
                        src="{{ comment.dog.avatarFile.url }}"
                    {% else %}
                        src="/media/none-img.png"
                    {% endif %}
                    width="80px" height="80px"/>
                </div>
                <div class="large-10 columns comment-text" data-comment-id="{{ comment.id }}">
                    <p><strong>{{ comment.dog.nick }}</strong></p>
                    {% include "comment.html" with comment=comment %}
                    <ul class="inline-list">
                        <li><a class="addComment">Reply</a></li>
                        <li><a href="">Share</a></li>
                    </ul>
                    {% comment %}<h6>{{ comment.comment_set.count }} Comments</h6>{% endcomment %}
                    {% for reply in comment.comment_set.all %}
                        <div class="row">
                            <div class="large-2 columns small-3">
                                <img
                                    {% if reply.dog.avatarFile %}
                                        src="{{ reply.dog.avatarFile.url }}"
                                    {% else %}
                                        src="http://placehold.it/80x80&text=[img]"
                                    {% endif %}
                                        width="50px" height="50px"/>
                            </div>
                            <div class="large-10 columns">
                                {% include "comment.html" with comment=reply %}
                            </div>
                            <hr/>
                        </div>
                    {% endfor %}
                </div>
                <hr/>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block script-block %}
    <script>
        $('#addNewsForm').on("submit", function(event) {
            event.preventDefault();
            var data = new FormData($(this).get(0));
            $.ajax({
                url: "/api/comment/add_text/",
                type: "post",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function () {
                    location.reload();
                },
            });
            return false;
        });
        $(document).ready(function()
        {
            $("#addNew").mousedown(function(){
                $(this).animate({height: 65}, 1000);
                $(this).parent().find('.control-row').fadeIn();
            });
            $(".addComment").one('click', function() {
                var parentComment = $(this).closest('.comment-text');
                $(parentComment).append(
                    "<form id=\"addReply\" enctype=\"multipart/form-data\">" +
                    "{% csrf_token %}" +
                     "<input type=\"hidden\" name=\"id\" value=\"{{ dog.id }}\">" +
                    "<input type=\"hidden\" name=\"parent_comment_id\" value=\""+ $(parentComment).attr('data-comment-id') +"\">" +
                         "<div class=\"row commenting-field\"><div class=\"large-2 columns small-3 img-container\"><img " +
                    {% if dog.avatarFile %} "src=\"{{ dog.avatarFile.url }}\"" {% else %} "src=\"/media/none-img.png\"" {% endif %} +
                         "/></div><div class=\"large-10 columns textarea-wrapper\"><textarea name=\"text\" placeholder=\"Ваш комментарий\"></textarea>" +
                    "<div class=\"control-row\"><button class=\"button tiny success\" type=\"submit\">Отправить</button>" +
                        "<button data-dropdown=\"drop{{ dog.id }}\" aria-controls=\"drop\" aria-expanded=\"false\" class=\"tiny button dropdown\">Прикрепить</button>" +
                        "<ul id=\"drop{{ dog.id }}\" data-dropdown-content class=\"f-dropdown\" aria-hidden=\"true\"><li><a href=\"#\">Загрузить фотаньку</a></li></ul>" +
                    "</div></div></div></form>"
                );
                $.scrollTo($(this),800);
                $(parentComment).find('form').on("submit", function(event) {
                    event.preventDefault();
                    var data = new FormData($(this).get(0));
                    $.ajax({
                        url: "/api/comment/add_text/",
                        type: "post",
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function () {
                            location.reload();
                        },
                    });
                    return false;
                });
            });
        });
    </script>
{% endblock %}

