{% extends "_layout.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <div class="panel add-comment clearfix">
        <form id="addNewsForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ dog.id }}">
            <div class="row commenting-field">
                <div class="medium-2 columns small-3 img-container">
                    <img
                    {% if dog.avatarFile %}
                        src="{{ dog.avatarFile.url }}"
                    {% else %}
                        src="/static/img/none-img.png"
                    {% endif %}
                    />
                </div>
                <div class="medium-10 columns small-9 textarea-wrapper">
                    <textarea id="addNew" name="text" placeholder="Что у вашего питомца нового..."></textarea>
                    <div class="control-row" style="display: none;">
                        <button class="button tiny success" type="submit">Отправить</button>
                        <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="tiny button dropdown">Прикрепить</button>
                        <ul id="drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
                          <li><a href="#">Загрузить фотаньку</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="newsList">
        {% for comment in comments %}
            {% if not comment.parentComment %}
                <div class="row post">
                    <div class="medium-2 columns small-3">
                        <img
                        {% if comment.dog.avatarFile %}
                            src="{{ comment.dog.avatarFile.url }}"
                        {% else %}
                            src="/static/img/none-img.png"
                        {% endif %}
                        width="80px" height="80px"/>
                    </div>
                    <div class="medium-10 columns small-9 comment-text" id="{{ comment.id }}">
                        {% include "comment.html" with comment=comment %}
                        <ul class="inline-list">
                            <li><a class="addComment">Комментировать</a></li>
                            <li><a href="addLike"><i class="fa fa-thumbs-up"></i> Like</a></li>
                            <li><a href="addDislike"><i class="fa fa-thumbs-down"></i> Dislike</a></li>
                        </ul>
                        {% comment %}<h6>{{ comment.comment_set.count }} Comments</h6>{% endcomment %}
                        {% for reply in comment.comment_set.all %}
                            <div class="row">
                                <div class="medium-2 columns small-3">
                                    <img
                                        {% if reply.dog.avatarFile %}
                                            src="{{ reply.dog.avatarFile.url }}"
                                        {% else %}
                                            src="/static/img/none-img.png"
                                        {% endif %}
                                            width="50px" height="50px"/>
                                </div>
                                <div class="medium-10 columns small-9">
                                    {% include "comment.html" with comment=reply %}
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                    </div>
                    <hr/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="hide">
        <form id="newsUpdateForm" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ dog.id }}">
            <input type="hidden" name="fields" value="comments,event_counter">
            <input type="hidden" name="event_counter" value="{{ eventCounter }}">
        </form>
    </div>
{% endblock %}

{% block script-block %}
    <script>
        $('#addNewsForm').on("submit", function(event) {
            event.preventDefault();
            var data = new FormData($(this).get(0));
            $.ajax({
                url: "/api/comment/add_text/",
                type: "post",
                data: data,
                cache: false,
                processData: false,
                contentType: false
            });
            return false;
        });
        $(document).ready(function()
        {
            $("#addNew").mousedown(function(){
                $(this).animate({height: 65}, 1000);
                $(this).parent().find('.control-row').fadeIn();
            });
            $(".addComment").one('click', function() {
                var parentComment = $(this).closest('.comment-text');
                $(parentComment).append(
                    "<form id=\"addReply\" enctype=\"multipart/form-data\">" +
                    "{% csrf_token %}" +
                     "<input type=\"hidden\" name=\"id\" value=\"{{ dog.id }}\">" +
                    "<input type=\"hidden\" name=\"parent_comment_id\" value=\""+ $(parentComment).attr('id') +"\">" +
                         "<div class=\"row commenting-field\"><div class=\"medium-2 columns small-3 img-container\"><img " +
                    {% if dog.avatarFile %} "src=\"{{ dog.avatarFile.url }}\"" {% else %} "src=\"/static/img/img/none-img.png\"" {% endif %} +
                         "/></div><div class=\"medium-10 columns small-9 textarea-wrapper\"><textarea name=\"text\" placeholder=\"Ваш комментарий\"></textarea>" +
                    "<div class=\"control-row\"><button class=\"button tiny success\" type=\"submit\">Отправить</button>" +
                        "<button data-dropdown=\"drop{{ dog.id }}\" aria-controls=\"drop\" aria-expanded=\"false\" class=\"tiny button dropdown\">Прикрепить</button>" +
                        "<ul id=\"drop{{ dog.id }}\" data-dropdown-content class=\"f-dropdown\" aria-hidden=\"true\"><li><a href=\"#\">Загрузить фотаньку</a></li></ul>" +
                    "</div></div></div></form>"
                );
                $.scrollTo($(this),800);
                $("#addReply textarea").focus();
                $(parentComment).find('form').on("submit", function(event) {
                    event.preventDefault();
                    var data = new FormData($(this).get(0));
                    $.ajax({
                        url: "/api/comment/add_text/",
                        type: "post",
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function () {
                            $('#addReply').remove();
                        }
                    });
                    return false;
                });
            });
        });
    </script>
    <script type="application/javascript">
        var getNews = function(event_counter) {
            var data = new FormData($('#newsUpdateForm').get(0));
            if(event_counter)
                data.append("event_counter", event_counter);
            $.ajax({
                url: "/api/dog/get_events/",
                type: "POST",
                data: data,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
            }).done(function(data) {
                setTimeout(getNews(data.event_counter), 1000);
                updateNewsList(data);
            });
        };
        var updateNewsList = function(result) {
            result.comments.forEach(function(comment) {
                var img;
                var content;

                if (comment.img)
                    img = comment.img;
                else
                    img = comment.avatar ? comment.avatar : "/static/img/none-img.png";

                if(comment.type == 0)
                    content = "<p>" + comment.text + "</p>";
                else
                    if (comment.type == 1)
                         content = "<p>Прогулочка</p><p>Длина:" + comment.walk.length + "м.</p>";
                    else
                        if (comment.type == 3)
                         content = "<p>Или друг или враг или так</p>";
                        else
                            if (comment.type == 4) {
                                if (comment.achievement.type == 1)
                                     content = "<div class='done'><div class='achiv-1'></div></div><div class='description'><p>Первый друг</p></div>";
                                if (comment.achievement.type == 2)
                                     content = "<div class='done'><div class='achiv-1'></div></div><div class='description'><p>Первый враг</p></div>";
                                if (comment.achievement.type == 3)
                                     content = "<div class='done'><div class='achiv-1'></div></div><div class='description'><p>Пройдено 50 метров</p></div>";
                            }

                if (comment.parent_comment_id) {
                    $('#'+comment.parent_comment_id).append(
                        "<div class='row'>" +
                            "<div class='medium-2 columns small-3'>" +
                                "<img src='" + img + "' " + "width='50px' height='50px'/>" +
                            "</div>" +
                            "<div class='medium-10 columns small-9'>" +
                                comment.html +
                            "</div>" +
                        "</div><hr/>"
                    );
                }
                else {
                    $('#newsList').prepend(
                        "<div class='row post'>" +
                            "<div class='medium-2 columns small-3'>" +
                                "<img src='" + img + "' " + "width='80px' height='80px'/>" +
                            "</div>" +
                            "<div class='medium-10 columns small-9 comment-text' id='" + comment.id + "'>" +
                                comment.html +
                                "<ul class='inline-list'><li><a class='addComment'>Комментировать</a></li>" +
                                "<li><a href='addLike'><i class='fa fa-thumbs-up'></i> Like</a></li>" +
                                "<li><a href='addDislike'><i class='fa fa-thumbs-down'></i> Dislike</a></li></ul>" +
                            "</div>" +
                        "<hr/></div>"
                    );
                }
            });
        };
        getNews();
    </script>
{% endblock %}

